*{
    margin: 0;
    padding: 0; 
}

body{
    margin: 60px 30px 0 30px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER////////////////////////////////////////*/
.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0cbe;
    border-radius: 9px;
    border: 3px solid #a8adac;
}

.logoPerfil img{
    height: 45px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 9px;
    border: 3px #c9a227 solid;
}

.btn button{
    padding: 7px 15px;
    margin-right: 40px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn button:hover{
    background-color: #B8001F;
}
.header .navegacion {
    display: flex;
    padding-top: 3px;
}
.header .navegacion ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.header .navegacion ul li {
    margin: 0 25px;
}
.header .navegacion ul li a {
    text-decoration: none;
    color: #c9a227;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px; 
}
.header .navegacion ul li a:hover {
    filter: drop-shadow(5px 15px 5px #a8adac);
}
/*HEADER*/

.main-content {
    padding: 0.4% 0 0;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
}

/*COLUMN1////////////////////////////////////////*/
.logo img{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin:  30px 0 30px 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px #c9a227 solid;
}

#Perfil1{
     
    width: 100%;
    height: 240px;
    border-radius: 8px;
    box-shadow: 30px 30px 25px 0 rgba(0,0,0,0.7);
    
}
.column1 h2{
    text-align: center;
    color: #5f6161;
}

.column1 h2:hover{
    filter: drop-shadow(5px 10px 15px orange);
}

.column1 p{
    color: #747e7c;
    display: flex;
    justify-content: flex-start;
}

.column1 i{
    margin-right: 10px;
}
.column1 p:hover{
    filter: drop-shadow(5px 10px 15px orange);
}
/*COLUMN1///////////////////////////////*/

/*COLUMNA2/////////////////////////////*/
.column2{
    position: relative;
    border-radius: 10px;
    height: auto;
    margin: 0 0 30px 0;
    
}

#column2-section .aboutMe{
    color: #000;
    height: auto;
    margin: 25px 40px 45px 40px;
    padding: 15px;
    border: 4px #ffb703 solid;
    border-radius: 8px;
    background-color: #e9f1f7;
    box-shadow: 40px 30px 25px 0 rgba(0,0,0,0.7);
}
#column2-section .aboutMe p:hover{
    filter: drop-shadow(10px 10px 5px orange);
}
#column2-section .foto-perfil2 img{
    float: left;
    border: 2px #ffb703 solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
#column2-section .about {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0;
}
#column2-section .about h4{
    padding: 9px 10px;
    color: #5f6161; 
    font-size:1.3rem;
}

#column2-section .myServices{
    margin: 25px 40px 25px 40px;
    padding: 15px;
    border: 4px #ffb703 solid;
    border-radius: 8px;
    background-color: #e9f1f7;
    box-shadow: 40px 30px 25px 0 rgba(0,0,0,0.7);
}

/*SERVICESS*/

.myServices .contenedor2 {
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    border-radius: 10px;
    padding-bottom: 30px;
}
.myServices h4 {
    color: #5f6161;
    font-size: 1.3rem;
}
.contenedor2 .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 10px 15px;
    margin: 30px 20px 3px 0;
    border: 3px solid #fdf903a1;
    border-radius: 8px;
    box-shadow: 40px 30px 25px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
    color:#000;
}
#column2-section .service-item img {
    height: 70px;
    width: 60px;
}
#column2-section .service-item:hover {
    filter: drop-shadow(5px 10px 15px orange);
}
#column2-section .service p{
    text-align: center;
}
.service-item h3{
    color: red;
}
/*
#column2-section .flip-card{
    margin:30px 50px;
    background-color: transparent;
    width: 200px;
    height: 250px;
    perspective: 1000px;
}

#column2-section .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#column2-section .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

#column2-section .flip-card-front, #column2-section .flip-card-back {
    position: absolute;
    border: 1px solid #fdf903a1;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#column2-section .flip-card-front{
    background: #052836;
    color: black;
}

#column2-section .flip-card-front img{
    height: 200px;
}*/
/*
#column2-section .flip-card-back{
    padding: 10px;
    background-color: #212529;
    color: white;
    transform: rotateY(180deg);
}
#column2-section .flip-card-back p{
    padding: 15px 5px 10px 5px;
    text-align: justify;
}
#column2-section .flip-card-back a button{
    margin:  0 10px;
    padding: 7px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#column2-section .flip-card-back button:hover{
    background-color: #0056b3;
}
*/
#column3-section {
    display: flex;
    color: #000;
    background-color: #e9f1f7;
    border: 4px #ffb703 solid;
    border-radius: 15px;
    margin: 10px 10px 0 10px;
    box-shadow: 40px 30px 25px 0 rgba(0,0,0,0.7);
}
#column3-section .my-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    gap: 20px;
    padding: 40px 0 20px 40px;
    border-radius: 8px;
    /*border: 1px solid #fdf903a1;*/
    
}

.column3 h2{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    color: #5f6161;
}
#column3-section .my-skills img {
   
    order: 2;
    max-width: 60px;
    height: auto;
    border-radius: 5px;
    box-shadow: 20px 20px 25px 0 rgba(0,0,0,0.6);
}
#column3-section .my-skills img:hover{
    filter: drop-shadow(15px 20px 15px orange);
    transition: all 0.3s ease 0s;
}
#column3-section .blandas{
    height: 410px;
    border-radius: 8px;
    /*border: 1px solid #fdf903a1;*/
    margin: 20px;
    padding: 45px 0 0 75px;
}
#column3-section .blandas li{
    text-align: left;
    list-style-type: none;
    line-height: 2.0;
}

.whatsapp-button {
    /*position: fixed;*/
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    border: 1px white solid;
    padding: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.whatsapp-button:hover{
    filter: drop-shadow(10px 0px 10px orange);
}

.linkedin-button {
    /*position: fixed;*/
    bottom: 20px;
    right: 20px;
    background-color: #0077B5;
    color: white;
    border: 1px white solid;
    border-radius: 50%;
    padding: 2px;     
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.linkedin-button:hover{
    filter: drop-shadow(10px 0px 10px orange);
}

.github-button {
    /*position: fixed;*/
    bottom: 20px;
    left:20px;
    background-color: #333;
    color: white;
    border: 1px white solid;
    border-radius: 50%;
    padding: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.github-button:hover{
    filter: drop-shadow(10px 0px 10px orange);
}

#redes{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #fdf903a1;
    margin-top: 1%;
    margin-bottom: 2%;
}